$c-error-1: #ff725e;
$c-error-2: #f3604b;

$c-success-1: #63df8c;
$c-success-2: #48c981;

// Набор оттенков серого.
$c-gray-1: #f2f2f2;
$c-gray-2: #e3e4e7;
$c-gray-3: #d2d3d9;
$c-gray-4: #b3b8be;
$c-gray-5: #888f99;
$c-gray-6: #60656b;
$c-gray-7: #505459;
$c-gray-9: #2b2b2b;

// Набор цветовой палитры сайта
$c-primary-1: #d9f6f8;
$c-primary-2: #bff0f2;
$c-primary-3: #00d8e4;
$c-primary-4: #00c3ce;
$c-primary-5: #00B8C2;
$c-primary-6: #da9428;
$c-primary-7: #00959d;

$c-secondary-6: #9ea5a8;
$c-secondary-9: #2a3136;
$c-secondary-10: #0c0e0f;

// Набор системной цветовой палитры.
$c-error: $c-error-2;
$c-info: #1890ff;
$c-mark: #fadb14;
$c-success: $c-success-2;
$c-warning: #faad14;

$c-black: #000000;
$c-text: $c-gray-9;
$c-white: #ffffff;
$c-primary: $c-primary-6;
$c-secondary: #2a3136;
