$fs-xxxl: 36px;
$fs-xxl: 30px;
$fs-xl: 26px;
$fs-l: 24px;
$fs-m: 22px;
$fs-s: 20px;
$fs-xs: 16px;
$fs-xxs: 14px;
$fs-xxxs: 12px;

$lh-xxxl: 46px;
$lh-xxl: 40px;
$lh-xl: 34px;
$lh-l: 32px;
$lh-m: 30px;
$lh-s: 24px;
$lh-xs: 26px;
$lh-xxs: 18px;
$lh-xxxs: 18px;
